{% extends 'pixelwars/base.html' %}
{% block main %}
    <div class="container">
        {% if games %}
            <ul>
                {% for game in games %}
                    <li><a href="{% url 'pixelwars:readstandart' game.id %}">{{ game.theme }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <h3>No games currently open.</h3>
        {% endif %}
        <form action="{% url 'pixelwars:createGame' %}" method="post">
            <input type="text" name="theme" placeholder="Game Theme">
            {% csrf_token %}
            <button type="submit">
                New Game
            </button>
        </form>
        <div>
            {% if judgeGames.filter %}
                Judge:
                {% else %}
                No games to judge :(
                {% endif %}
            <ul>
                {% for game in judgeGames %}
                    {% if game.player1.user != user and game.player2.user != user %}
                    <li><a href="{% url 'pixelwars:judge' game.id %}">{{ game.theme }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}