{% extends 'pixelwars/base.html' %}
{% block main %}
    <div class="container">
        <h1>Page for game with id {{ game.id }} and theme {{ game.theme }}</h1>
        <h2>Players : ({{ playerCount }}/2)</h2>

        {% if players %}
            <div class="list-group">
                {% for player in players %}
                    <a href="{% url 'pixelwars:viewUser' player.user.pk %}"
                       class="list-group-item">{{ player.name }} {% if player.hasDrawed %}&#10003;{% endif %}</a>
                {% endfor %}
            </div>
        {% else %}
            <div>No players. :(</div>
        {% endif %}

        {% if canJoin and playerCount < 2 %}
            <a class="btn btn-success" href="{% url 'pixelwars:joinGame' game.id %}">Join Game</a>
        {% endif %}
        {% if canPlay %}
            <a class="btn btn-warning" href="{% url 'pixelwars:draw' game.id %}">Draw</a>
        {% endif %}
        {% if canLeave %}
            <a class="btn btn-danger" href="{% url 'pixelwars:leaveGame' game.id %}">Leave Game</a>
        {% endif %}


    </div>
{% endblock %}