{% extends 'pixelwars/base.html' %}
{% block main %}
    <div class="container">
        <h1>Available tourneys:</h1>
        {% if tourneys %}
            <div class="list-group">
                {% for tourney in tourneys %}
                    <a class="list-group-item" href="{% url 'pixelwars:readtourney' tourney.id %}">{{ tourney }}</a>
                {% endfor %}
            </div>
        {% else %}
            <h3>No tourneys available :(</h3>
        {% endif %}
    </div>
{% endblock %}