{% extends 'pixelwars/base.html' %}
{% load staticfiles %}
{% block main %}
    <div class="container">

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="clock" style="margin:2em 0;"></div>
                <div class="message"></div>
                <div id="jssor_1"
                     style="position:relative;margin:0;top:0px;left:0px;width:600px;height:300px;overflow:hidden;visibility:hidden;">
                    <!-- Loading Screen -->
                    <div data-u="loading" style="position:absolute;top:0px;left:0px;background-color:rgba(0,0,0,0.7);">
                        <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                        <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
                    </div>
                    <div data-u="slides"
                         style="cursor:default;position:relative;top:0px;left:0px;width:300px;height:300px;overflow:hidden;">
                        <div>
                            <img data-u="image" src="{% static "pixelwars/img/01.jpg" %}"/>
                        </div>
                        <div>
                            <img data-u="image" src="{% static "pixelwars/img/02.jpg" %}"/>
                        </div>
                        <a data-u="any" href="http://www.jssor.com" style="display:none">Simple Fade Slideshow</a>
                        <div>
                            <img data-u="image" src="{% static "pixelwars/img/03.jpg" %}"/>
                        </div>
                        <div>
                            <img data-u="image" src="{% static "pixelwars/img/04.jpg" %}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="tab">
                    <button class="tablinks" onclick="tab_Content(event, 'Rules')">Rules</button>
                    <button class="tablinks" onclick="tab_Content(event, 'Description')">Description</button>
                    <button class="tablinks" onclick="tab_Content(event, 'Topplayers')">Top players</button>
                    <button class="tablinks" onclick="tab_Content(event, 'Game_modes')">Game modes</button>
                </div>
                <div id="Rules" class="tabcontent">
                    <ul>
                        <li>...</li>
                        <li>...</li>
                        <li>...</li>
                        <li>...</li>
                        <li>...</li>
                        <li>...</li>
                    </ul>
                </div>
                <div style="" id="Description" class="tabcontent">
                    <ul>
                        <li>It is multiplayer drawing game</li>
                        <li>You can challenge somebody to see who is a better artist</li>
                        <li>You can test your a(r/u)tistic abilities</li>
                        <li>It's FREE</li>
                    </ul>
                </div>
                <div id="Topplayers" class="tabcontent">
                    <ul class="arrows">
                        {% for player in players %}
                            <li class="arrows">{{ player }} &rarr; {{ player.wins }}</li>
                        {% endfor %}
                    </ul>

                </div>
                {% if user.is_authenticated %}
                    <div id="Game_modes" class="tabcontent">
                        <a class="btn btn-info btn-lg btn-block" href="{% url 'pixelwars:standart' %}">Standart</a>
                        <a class="btn btn-default btn-lg btn-block" href="{% url 'pixelwars:tourney' %}">Tourney (not yet implemented)</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}