{% extends 'pixelwars/base.html' %}
{% load staticfiles %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Tournament starts in:</h1>
                <div class="clock" style="margin:2em 0;"></div>
                <div class="message"></div>
                <div id="jssor_1"
                     style="position:relative;margin:0;top:0px;left:0px;width:600px;height:300px;overflow:hidden;visibility:hidden;">
                    <!-- Loading Screen -->
                    <div data-u="loading" style="position:absolute;top:0px;left:0px;background-color:rgba(0,0,0,0.7);">
                        <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                        <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
                    </div>
                    <div data-u="slides"
                         style="cursor:default;position:relative;top:0px;left:0px;width:600\px;height:300px;overflow:hidden;">
                        <div>
                            <img data-u="image" src="{% static "pixelwars/img/01.jpg" %}"/>
                        </div>
                        <div>
                            <img data-u="image" src="{% static "pixelwars/img/02.jpg" %}"/>
                        </div>
                        <a data-u="any" href="http://www.jssor.com" style="display:none">Simple Fade Slideshow</a>
                        <div>
                            <img data-u="image" src="{% static "pixelwars/img/03.jpg" %}"/>
                        </div>
                        <div>
                            <img data-u="image" src="{% static "pixelwars/img/04.jpg" %}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="tab">
                    <button class="tablinks" onclick="tab_Content(event, 'Rules')">Rules</button>
                    <button class="tablinks" onclick="tab_Content(event, 'Description')">Description</button>
                    <button class="tablinks" onclick="tab_Content(event, 'Topplayers')">Top players</button>
                    <button class="tablinks" onclick="tab_Content(event, 'Game_modes')">Game modes</button>
                </div>
                <div style="max-height: 370px; overflow: auto;" id="Rules" class="tabcontent">
                    <ul>
                        <li><h4><strong>Every person is once а player and than once a judge (option 1). Every person
                            should have two votes to participate in one game.</strong></h4></li>
                        <li style="list-style-type: none;"><h4><i>One vs One mode:</i></h4></li>
                        <li>Two players – one description</li>
                        <li>Both of the players have a pixel chart in front them on which they have to draw their ideas
                            ... the given description
                        </li>
                        <li>Option 1: After both the two players have finished their masterpieces the third person that
                            is their judge in that game has 30 seconds to decide whose drawing is better.
                        </li>
                        <li>Option 2: After both the two players have finished their masterpieces, the projects are
                            exposed anonymously on the home page so that everybody can vote. After 30 seconds the votes
                            are being counted. Of course if the votes are equal, a second round is played.
                        </li>
                        <li>The most important part of the game is the joy!!!!!</li>
                        <li style="list-style-type: none;"><h4><i>Tournament mode:</i></h4></li>
                        <li>First round – one description (easy – one word)</li>
                        <li>Again 2:30 minutes time for everybody</li>
                        <li>The drawings are being rated by one of our beautiful (handsome) superusers</li>
                        <li>Second round – second description (a little bigger)</li>
                        <li>2 players and then the <span
                                style="font-weight: bolder;">WINNEEEEEEEER!!!!!!!!!!!!!!!!</span></li>
                    </ul>
                </div>
                <div style="" id="Description" class="tabcontent">
                    <ul>
                        <li>It is multiplayer drawing game</li>
                        <li>You can challenge somebody to see who is a better artist</li>
                        <li>You can test your a(r/u)tistic abilities</li>
                        <li>It's FREE</li>
                    </ul>
                </div>
                <div id="Topplayers" class="tabcontent">
                    <div class="list-group">
                        {% for player in players %}
                            <a href="{% url 'pixelwars:viewUser' player.user.pk %}"
                               class="list-group-item">{{ player }} &rarr; {{ player.wins }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div id="Game_modes" class="tabcontent">
                    {% if user.is_authenticated %}
                        <a class="btn btn-info btn-lg btn-block" href="{% url 'pixelwars:standart' %}">Standart</a>
                        <a class="btn btn-default btn-lg btn-block" href="{% url 'pixelwars:tourney' %}">Tourney (kinda
                            working)</a>
                    {% endif %}
                    <a class="btn btn-primary btn-lg btn-block" href="{% url 'pixelwars:images' %}">View all
                        drawings</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}